@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?m91tsk');
  src:  url('../fonts/icomoon.eot?m91tsk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?m91tsk') format('truetype'),
    url('../fonts/icomoon.woff?m91tsk') format('woff'),
    url('../fonts/icomoon.svg?m91tsk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-connection:before {
  content: "\e91b";
}
.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-menu.icon-cancel:before {
  content: "\ea0f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
/*-----------------------------------------------------------------------------------*/
body {
  width: 100%;
  margin:auto;
}

.item {
  border: 1px solid black;
}

.bor-inf {
  border-bottom: 1px solid lightgrey;
}

.contenedor {
  max-width: auto;
  display: -ms-grid;
  display: grid;
  grid-template: 105px 1fr / 100%;
  grid-gap: 10px;
  height: 100vh;
  grid-template-areas: " header"
                       " content";
  grid-gap: 0;
}

/*Contenedor-Header*/
.header {
  grid-area: header;
  display: -ms-grid;
  display: grid;
  grid-template: 1fr 1fr / 100px 1fr 100px;
  grid-template-areas: "banner   banner         banner"
                       "burguer  nav-principal  search";
  justify-items: center;
  align-items: center;
  box-shadow: 2px 2px 2px grey;
}

.banner {
  grid-area: banner;
}

.burguer {
  grid-area: burguer;
}

.burguer a {
  text-decoration: none;
  font-size: 22px;
  color: grey;
}

.nav-principal {
  grid-area: nav-principal;
}

.nav-principal img {
  display: none;
}

.nav-principal nav ul {
  padding: 0;
}

.nav-principal nav ul li {
  display: inline;
  margin: 0 10px;
}

.nav-principal nav ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.nav-principal nav ul li a:hover {
  color: grey;
}

.search {
  grid-area: search;
}

.search a {
  text-decoration: none;
  font-size: 22px;
  color: grey;
}
/*end Contenedor-Header*/

/*Contenedor-Content*/
.content {
  float: left;
  grid-area: content;
  display: grid;
  grid-template: 200px repeat(5, auto) / 1200px;
  grid-template-areas: "portada"
                       "type-article"
                       "type2-article"
                       "type3-article"
                       "type4-article"
                       "footer";
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  padding: 0 26px;
  position: relative;
  right: 10px;
}

.nav-lateral {
  background-color: rgba(255,255,255,0.95);
  position: absolute;
  top: 0;
  float: left;
  left: -100%;
  width: 100%;
  right: 1600px;
  height: 829px;
  transition: .3s;
  font-size: 20px;
  overflow: scroll;
}

.nav-lateral.active {
  left: 0;
  width: 255px;
}

.nav-lateral nav ul li {
  list-style: none;
  width: 200px;
  line-height: 40px;
}

.nav-lateral nav ul li a {
  text-decoration: none;
  color: inherit;
}

.nav-lateral nav ul li a:hover {
  color: grey;
}

.nav-lateral nav ul li:first-child a {
  color: orange;
  border-left: 2px solid orange;
  padding-left: 10px;
}

.portada {
  grid-area: portada;
  display: -ms-grid;
  display: grid;
  grid-template: 80px 50px 58px / 1fr;
  grid-template-areas: "blb"
                       "fechaymenu2"
                       "menu3";
  justify-content: center;
  align-content: center;
}

.blb {
  grid-area: blb;
  display: -ms-grid;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "bleft lcentro bright"
}
.bleft {
  grid-area: bleft;
  justify-self: center;
  align-self: center;
}

.lcentro {
  grid-area: lcentro;
  text-align: center;
  margin-top: 15px;
}

.lcentro img {
  height: 60px;
}

.bright {
  grid-area: bright;
  justify-self: center;
  align-self: center;
}

.bright img {
  float: right;
}
/*end Portada-blb*/

.fechaymenu2 {
  grid-area: fechaymenu2;
  border-bottom: 2px solid black;
}

.fechaymenu2 p {
  float: left;
  color: grey;
  position: relative;
  left: 250px;
}

.fechaymenu2 nav {
  float: left;
  position: relative;
  left: 250px;
}

.fechaymenu2 nav ul {
  padding-left: 15px;
}

.fechaymenu2 nav ul li {
  display: inline;
}

.fechaymenu2 nav ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.menu3 {
  grid-area: menu3;
  box-shadow: 2px 1px 2px grey;
  border-right: 0;
}

.menu3 nav ul {
  padding-left: 0;
  margin-top: 10px;
}

.menu3 nav ul li {
  display: inline;
  padding: 0 15px;
}

.menu3 nav ul li:first-child {
  padding-left: 0;
}

.menu3 nav ul li a {
  text-decoration: none;
  color: inherit;
}

.type-article {
  grid-area: type-article;
  display: grid;
  grid-template: 90px repeat(2, 1fr) / 1fr 389px ;
  grid-template-areas: "banner2 banner2"
                       "not1    not2"
                       "not1    not3";
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
}

.banner2 {
  grid-area: banner2;
  justify-self: center;
  align-self: center;
}

.not1 {
  grid-area: not1;
}

.titulo h1 {
  height: auto;
}

.subtitulo p {
  font-family: Arial;
  font-size: 18px;
}

.not2 {
  grid-area: not2;
}

.not3 {
  grid-area: not3;
}

.type2-article {
  grid-area: type2-article;
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  grid-template-areas: "not4 not5";
  grid-gap: 15px;
}

.not4 {
  grid-area: not4;
}

.not5 {
  grid-area: not5;
}

.type3-article {
  grid-area: type3-article;
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  grid-template-areas: "banner2 banner2 banner2"
                       "not6    not7    not8";
  grid-gap: 15px;
}

.not6 {
  grid-area: not6;
}

.not7 {
  grid-area: not7;
}

.not8 {
  grid-area: not8;
}

.type4-article {
  grid-area: type4-article;
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  grid-template-areas: "not9 not10 not11 not12";
  grid-gap: 15px;
}

.not9 {
  grid-area: not9;
}

.not10 {
  grid-area: not10;
}

.not11 {
  grid-area: not11;
}

.not12 {
  grid-area: not12;
}

/*Content-footer*/
.footer {
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  grid-template: 62px 1fr / repeat(4, 1fr);
  grid-template-areas: "foot-sup  foot-sup  foot-sup  foot-sup"
                       "foot-inf1 foot-inf2 foot-inf3 foot-inf4";
  margin-top: 10px;
}

.footer ul li {
  list-style: none;
  margin: 3px 0;
}

.footer ul li:first-child {
  margin-bottom: 6px;
  font-weight: bold;
}

.footer ul li a {
  text-decoration: none;
  color: inherit;
}

.foot-sup {
  grid-area: foot-sup;
  border-top: 1px solid lightgrey;
  padding-left: 15px;
  justify-items: center;
  align-items: center;
}

.foot-sup .boton {
  padding: 4px 5px 6px 5px;
  border: 1px solid lightgrey;
  float: left;
  margin: 15px 0;
}

.foot-sup .boton a {
  text-decoration: none;
  color: inherit;
}

.foot-sup .f-logo {
  float: left;
  margin: 19px 0;
  position: relative;
  left: 180px;
}

.foot-sup .f-logo img {
  width: 50%;
  height: 18px;
}

.foot-sup .f-derechos {
  float: left;
  font-size: 15px;
  font-weight: bold;
  margin: 8px 0 10px 40px;
}

.foot-sup .f-derechos p {
  float: left;
}

.foot-inf1{
  grid-area: foot-inf1;
}

.foot-inf2 {
  grid-area: foot-inf2;
}

.foot-inf3 {
  grid-area: foot-inf3;
}

.foot-inf4 {
  grid-area: foot-inf4;
}

@media screen and (max-width: 1092px) {
  .nav-principal nav {
    display: none;
  }
}

@media screen and (max-width: 1274px) {

  .content {
    grid-area: content;
    display: grid;
    grid-template: 200px repeat(5, auto)/ 1fr;
    grid-template-areas:"portada"
                         "type-article"
                         "type2-article"
                         "type3-article"
                         "type4-article"
                         "footer";
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    padding: 16px;
    position: relative;
    left: 0;
  }
}

/*Ipad*/
@media screen and (max-width: 768px) {

  .header {
    grid-area: header;
    display: grid;
    grid-template: 1fr / 100px 1fr 100px;
    grid-template-areas: "banner   banner         banner"
                         "burguer  nav-principal  search";
    box-shadow: 2px 2px 2px grey;
  }

  .burguer, .search {
    padding: 10px;
  }

  .nav-principal img {
    display: block;
    width: 100%;
    height: 25px;
    margin-left: 0;
  }

  .content {
    grid-area: content;
    display: grid;
    grid-template: 120px repeat(5, auto)/ 1fr;
    grid-template-areas:"portada"
                         "type-article"
                         "type2-article"
                         "type3-article"
                         "type4-article"
                         "footer";
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    padding: 16px;
    position: relative;
    left: 0;
  }

  .portada {
    grid-area: portada;
    display: -ms-grid;
    display: grid;
    grid-template: auto auto / 1fr;
    grid-template-areas: "blb"
                         "fechaymenu2";
    justify-content: center;
    align-content: center;
  }

  .fechaymenu2 p {
    margin: 13px 0 0 30px;
    left: 40px;
    position: static;
  }

  .fechaymenu2 nav {
    font-size: 14px;
    left: 10px;
  }

  .portada .menu3 {
    display: none;
  }

  .type2-article {
    grid-area: type2-article;
    display: grid;
    grid-template: auto auto / 1fr;
    grid-template-areas: "not4"
                         "not5";
    grid-gap: 15px;
  }

  .foot-sup .f-logo {
    left: 10px;
    width: 150px;
  }

  .foot-sup .f-derechos {
    margin-left: 0;
    left: 0;
  }
}
